*{
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

/* Nav Bar */

header{
  position:fixed;
  top: 0;
  width: 100%;
  height: 15%;
  background-color: #009DDC;
  font-family: "Lobster", cursive;
  border-bottom: 2px solid #F18F01;
  display: flex;
  flex-direction: column;
  
}

nav{
  height: 100%;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%
}

li{
  background-color: #FDFFFC;
  padding: 10px;
  border-radius: 10px;
  color: #F18F01;
  font-size: 20px;
}

/* Landing Page */

.landing{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #FDFFFC;

}

.landing h1{
  font-family: "Spicy Rice", cursive;
  font-size: 3em;
  color: #009DDC;
}

.orange{
  color: #F18F01;
}

.fleche{
  width:0px;
  height:0px;
  border-top: 20px solid #009DDC;
  border-right: 20px solid #FDFFFC;
  border-left: 20px solid #FDFFFC;
  border-right: 20px solid #FDFFFC;
  
}

/* About */

.about{
  width: 100%;
  height: 100%;
  padding: 10px;
}

.about article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title-about{
  font-family: "Spicy Rice", cursive;
  font-size: 2em;
  color: #009DDC;

}

.text{
  color: #009DDC;
  text-align: justify;
  line-height: 20px;
}

/* Contact */

.contact{
  width: 100%;
  height: 30%;
  padding: 10px;
  margin-top: 100px;
}

.social-media{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.social-media li{
  margin-right: 20px;
}

.title-contact{
  font-family: "Spicy Rice", cursive;
  font-size: 2em;
  color: #009DDC;
}

.linkedin{
  background-image: url("/img/linkedin.png");
  background-size: cover;
  width: 50px;
  height: 50px;

}

.github{
  background-image: url("/img/github.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.mail{
  background-image: url("/img/mail.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}