*{
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

/* Nav Bar */

header{
  position:fixed;
  top: 0;
  width: 100%;
  height: 15%;
  background-color: #009DDC;
  font-family: "Lobster", cursive;
  border-bottom: 2px solid #F18F01;
  display: flex;
  flex-direction: column;
  
}

nav{
  height: 100%;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

ul a{
  text-decoration: none;
}

li{
  background-color: #FDFFFC;
  padding: 10px;
  border-radius: 10px;
  color: #F18F01;
  font-size: 20px;
  cursor: pointer;
}



/* Landing Page */

#landing{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #FDFFFC;

}

#landing h1{
  font-family: "Spicy Rice", cursive;
  font-size: 3em;
  color: #009DDC;
}

.orange{
  color: #F18F01;
}

.fleche{
  width:0px;
  height:0px;
  border-top: 20px solid #009DDC;
  border-right: 20px solid #FDFFFC;
  border-left: 20px solid #FDFFFC;
  border-right: 20px solid #FDFFFC;
  
}

/* About */

#about{
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 100px;
}

#about article{
  display: flex;
  flex-direction: column;
  justify-content: center;;
  height: 100%;
}

.title-about{
  font-family: "Spicy Rice", cursive;
  font-size: 2em;
  color: #009DDC;
  margin-bottom: 20px;
}

.text{
  color: #009DDC;
  text-align: justify;
  line-height: 30px;
}

/* Contact */

#contact{
  width: 100%;
  height: 30%;
  padding: 10px;
  margin-top: 100px;
}

.social-media{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.social-media li{
  margin-right: 20px;
}

.title-contact{
  font-family: "Spicy Rice", cursive;
  font-size: 2em;
  color: #009DDC;
}

.linkedin{
  background-image: url("/img/linkedin.png");
  background-size: cover;
  width: 50px;
  height: 50px;

}

.github{
  background-image: url("/img/github.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.mail{
  background-image: url("/img/mail.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

/* Media Queries */

@media (min-height: 667px){
  header{
    height: 10%;
  }

  #contact{
    height: 40%;
    
  }

  .social-media{
    height: 40%;
  }
}

@media (min-width: 768px) and (min-height: 1024px){
  body{
    font-size: 2.2em;
  }

  header{
    height: 15%;
  }

  .fleche{
    border-top: 50px solid #009DDC;
    border-right: 50px solid #FDFFFC;
    border-left: 50px solid #FDFFFC;
    border-right: 50px solid #FDFFFC;

  }

  .text{
    line-height: 55px;
  }

  li{
    font-size: 1.5em;
  }

  .social-media{
    margin-top: 50px;
  }

  .linkedin{
    width: 100px;
    height: 100px;
  
  }
  
  .github{
    width: 100px;
    height: 100px;
  }
  
  .mail{
    width: 100px;
    height: 100px;
  }
}


@media (min-width: 1024px) and (min-height: 1366px){
  body{
    font-size: 3em;
  }

  header{
    height: 15%;
  }

  .fleche{
    border-top: 70px solid #009DDC;
    border-right: 70px solid #FDFFFC;
    border-left: 70px solid #FDFFFC;
    border-right: 70px solid #FDFFFC;

  }

  .text{
    line-height: 60px;
  }

  li{
    font-size: 1.5em;
  }

  .social-media{
    margin-top: 50px;
  }

  .linkedin{
    width: 130px;
    height: 130px;
  
  }
  
  .github{
    width: 130px;
    height: 130px;
  }
  
  .mail{
    width: 130px;
    height: 130px;
  }
}
